
h1 {
    color: blue;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    border: 1px solid #000;
    background-color: darkolivegreen;
}

td {
    border: 1px solid #000;
    min-width: 90px;
}

td:nth-of-type(5), td:nth-of-type(6) {
    text-align: center;
    min-width: 40px;
}

img {
    width: 20px;
    height: 20px;
}

form {
    border: 1px solid blue;
    padding: 10px;
}