body {
    padding-top: 80px;
}

.main {
    text-align: center;
}

h1 {
    margin: 50px 0;
}

/*
    FORMULARIO DE LOGIN
*/

#formulario_login {
    margin-top: 50px;
}

#img-captcha {
    width: 100%;
    margin-bottom: 20px;
}

.img-avatar {
    width: 200px;
}

.help-block {
    color: #f00;
}

.cambio-ok {
    color: #00BB00;
}

#row-slider {
    margin-bottom: 50px;
}

.mensajeHome {
    margin: 0 0 60px;
    text-align: center;
}

.centrar {
    text-align: center;
}

.ingrediente {
    padding: 5px;
}

.ingrediente > .jumbotron {
    padding: 10px 20px 40px;
    background: #b3b8ff;
}