body {
    width: 100%;
}

body > div {
    margin: 0 auto;
    width: 400px;
}

h1 {
    color: blue;
}

form {
    border: 1px solid blue;
    padding: 10px;
}

input[type="checkbox"] {
    margin-top: 20px;
    margin-bottom: 10px;
}

label[for="terminos"] {
    display: inline-block;
    margin-left: 0;
    margin-top: 10px;
}

input[type="submit"] {
    display: block;
    margin-top: 10px;
}

span {
    margin-top: 5px;
}

label {
    margin-top: 15px;
}

label, span {
    display: block;
}

label, input, span {
    margin-left: 20px;
}