body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

div#contenedor-form {
    margin: 0 auto;
    width: 400px;
    text-align: left;
}

h1 {
    color: blue;
}

h3 {
    color: green;
}

form {
    border: 1px solid blue;
    padding: 10px;
}

form input[type="checkbox"] {
    margin-top: 20px;
    margin-bottom: 10px;
}

form label[for="terminos"] {
    display: inline-block;
    margin-left: 0;
    margin-top: 10px;
}

form input[type="submit"] {
    display: block;
    margin-top: 10px;
}

span {
    margin-top: 5px;
}

label {
    margin-top: 15px;
}

form label, span {
    display: block;
}

label, input, span {
    margin-left: 20px;
}




/*
    MENU
*/

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

.nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
}

.nav li {
    display: inline-block;
    margin-right: -4px;
}